.margencero {
    margin: 0px;
}
.logo{
    text-align: center;
}
.barra{
    justify-content: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    margin-bottom: 30px;
    height: auto;
}
.caja_izquierda{
        height: 100%;
        padding: 0px;   
}
.caja_derecha{
    border: solid 1px rgb(230, 227, 227);
    
}

img{
    height: 100px;
}

p{
    color: red;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}
.btn{
    margin:10px;
}
