*{
    box-sizing: border-box;
}

.container, .mapa{
    overflow: hidden;
    margin: 5% 0;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    background-color: rgb(192, 60, 60);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  
  input[type=submit]:hover {
    background-color: #347a38;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .direccion{
      background-color: #f2f2f2;
      padding: 12px;
  }

  iframe{
      padding: 12px;
  }

  p{
      margin-bottom: 0;
  }
  
  h4{
    margin-bottom: 15px;
  }

  .alejar{
      margin-top: 30px;
  }

  a{
      color: rgb(104, 101, 101)
  }

  span{
      padding-right: 4px;
  }


@media only screen and (min-width: 589px) {
    
 .container{
     margin-left: 3%;
     width: 94%;
 }

 .direccion{
     width: 94%;
     margin-left: 3%;
     border-radius: 4px;
 }

}


 @media only screen and (min-width: 1024px) {

    .flex{
        display: flex;
    }

    .container{
        width: 60%;

    }

    .direccion{
        width: 30%;
        height: 30%;
        margin-top: 5%;
    }

    .alejar{
        margin-top: 20%;
    }

    .mapa{
        margin-top: 1%;
    }

    input[type=reset]:hover {
        background-color: rgb(151, 47, 47);
      }

 }
 