.carousel-item img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
  }

.productos{
    height: auto;
    border: 2px solid #f1f1f1;
    margin: 1% 1%;
    padding: 0px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorcarrusel{
    padding: 0px;
}

