.productos{
    height: 30vh;
    background-color: brown;
    margin: 1% 1%;
    padding: 0px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorcarrusel{
    padding: 0px;
}

