.carousel-item img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
  }

#carouselExampleControls{
    background-color: rgba(0, 0, 0, 0.397);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.productos{
    height: auto;
    border: 2px solid #f1f1f1;
    margin: 1% 1%;
    padding: 0px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorcarrusel{
    padding: 0px;
}

