 #carousel{
     margin-top: 10px;;
 }
 
 .carousel-item img {
    height: 40vh;
    width: 100%;
  } 

#carouselExampleControls{
    background-color: rgba(0, 0, 0, 0.397);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: 10px;
    background-color: rgb(228, 88, 32);
    color:white;
}
.banner div{
    margin-top: 10px;
}
.categorias{
    text-align: center;
}
.cat-indiv{

    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(228, 88, 32);
    
}
.cat-indiv div{
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.cat-indiv div a{
    padding: 4px;
    color: white;
    font-size: 22px;
    border: 2px solid rgba(255, 255, 255, 0.931);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos{
    height: auto;
    border: 2px solid #f1f1f1;
    margin: 1% 1%;
    padding: 0px;
}
.centrar{
    text-align: center;
}
.contenedorcarrusel{
    padding: 0px;
}

@media only screen and (min-width: 1024px) {

    .buscar{
        margin-left: 45%; 
    }

}

