*{
    box-sizing: border-box;
    margin: 0 auto;
}
.padding{
    padding-left:0px;
    padding-right:0px;
}

.hamburguesa{
    margin-left: 0px;
    margin-right: 0px;
}
.carrito{
    margin: 0 10px;
}
.logo{
    margin-left:0px;
}
.cart{
    color: aliceblue;
}

