*{
    box-sizing: border-box;
    margin: 0 auto;
}
.padding{
    padding:0px;
}
.margencero{
    padding:0px;
    margin:0px;
}



.hamburguesa{
    margin-left: 0px;
    margin-right: 0px;
}
.carrito{
    margin: 0 10px;
}
.logo{
    margin-left:20px;
}
.cart{
    color: aliceblue;
}
footer{
    background-color: blue;
    height: 50px;
}
