.producto{

    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: 20px;
    
}

.contenedor{
    overflow: hidden;
    padding: 0 6%;
}

.rectangulos{
    padding: 1%;
    height: 10%;
    width: 50%;
    float: left;
}

input{
    width:80%;
    border-radius: 3px;
    border-color: transparent;
    border-bottom-color: black;
}

.descripcion{
    padding: 1% 7% 1% 7%; 
    

}

.descripcion input{
    width: 90%;
    height: 25%;
}

