@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300')

footer 
	height: auto
	background-color: #0E0034 
	text-align: center 
	display: flex
	flex-wrap: wrap
	font-family: "Montserrat", sans-serif
	h3 
		color: rgba(240, 248, 255, 0.644) 
		font-size: 26px
		font-weight: 600
.logotipo 
	img 
		width: 40% 
		height: 10% 
		border-radius: 50% 
		padding: 5% 0 
		text-align: center
.contacto 
	i 
		color: rgba(240, 248, 255, 0.979) 
		padding-right: 1% 
	span 
		color: aliceblue 
.info a, .contacto a 
	padding: 0 
	color: rgba(240, 248, 255, 0.979) 
	cursor: pointer 
.links
	display: flex
	margin-top: 15px
	ul li
		margin-bottom: 8px
		margin-left: 0px
		margin-right: 0px
		border-bottom: solid 1px white
.contenido
	text-align: left
	div
		margin-bottom: 10px
		p 
			width: 250px
.icono_nombre
	border: 2px solid rgba(240, 248, 255, 0.644) 
	border-radius: 10px
	text-align: center
	i
		color:  rgba(240, 248, 255, 0.644) 
	span
		color:  rgba(240, 248, 255, 0.644)  
	
@media only screen and (min-width: 768px) 
	.logotipo 
		margin-top: 50px
		img 
			width: 80% 
	footer
		background-color: #0E0034 
		overflow: hidden 
		padding: 5% 0  

@media only screen and (min-width: 992px) 
	.logotipo 
		margin-top: 50px
		img 
			width: 40% 
